* {box-sizing: border-box;}

.wrapper {
    margin: 0 auto;
}

header {
    grid-area: h;
}
.main {
    grid-area: m;
}
#portfolio {
    grid-area: p;
}
#resume {
    grid-area: r;
}
#save {
    grid-area: s;
}
#contact {
    grid-area: c;
}
footer {
    grid-area: f;
}

/* where we are setting the size for mobile */
.wrapper {
    display: grid;
    grid-auto-rows: 15% auto auto auto 7%;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "h"
      "m"
      "p"
      "r"
      "s"
      "c"
      "f";
}
/* @media (min-width: 600px) {
        h1 {
            font-size: 1em;
        }
    } */
/* when the screen is 750px or larger, do this */
@media (min-width: 750px) {
   .wrapper {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 20% auto auto auto auto auto 7%;
        grid-template-areas: 
          "h h h h h h h h h h h h"
          "m m m m m m m m m m m m"
          "p p p p p p p p p p p p"
          "r r r r r r r r r r r r"
          "s s s s s s s s s s s s"
          "c c c c c c c c c c c c"
          "f f f f f f f f f f f f";
    }
}

.side {
    grid-area: si;
    margin: 0 auto;
}
.imageContainer{
    grid-area: ima;
    display: inline-grid;
}
.about {
    display: grid;
    margin: 0 auto;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "ima"
      "si";
}
@media (min-width: 750px) {
    .about {
         grid-template-columns: 40% auto;
         grid-gap: 30px;
         grid-template-rows: auto;
         grid-template-areas: 
           "ima si";
     }
 }