body {
  font-family: 'Montserrat', sans-serif;
  color: #505050;
}

nav{
    background: #FFE8E8;
    padding: 10pt;
    font-weight: 600;
}
li{
  display: inline;
}
a{
  color: #505050;
}

.logo{
  width: 50%;
  margin-left: 23%;
  position: relative;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
}

#about{
  background: #FFE8E8;
  padding: 10pt;
  font-weight: 600;
  text-align: center;
}

.about{
  padding: 20pt;
}
.bold{
  font-weight: 700;
}

#portfolio{
  background: #FFE8E8;
  padding: 30pt;
}
#portfolio >div{
  /* background: white; */
  padding: 10pt;
  font-weight: 600;
}
img{
  border: solid 5pt white;
}

#resume{
  padding: 20pt;
}

#save{
  padding: 20pt;
}

#contact{
  padding: 20pt;
}

footer{
  height: 40pt;
  background: #A5BF94;
}