body {
  font-family: 'Montserrat', sans-serif;
  color: #505050;
}

header{
    background: #FFE8E8;
    padding: 10pt;
    font-weight: 600;
    word-spacing: 20pt;
}

.logo{
  width: 50%;
  margin-left: 23%;
  position: relative;
}

.aboutOne{
  background: #FFE8E8;
  padding: 10pt;
  font-weight: 600;
  text-align: center;
}
.aboutTwo{
  text-align: center;
  padding: 20pt;
}
.aboutTwo >p{
  font-weight: bold;
}

.portfolio{
  background: #FFE8E8;
  padding: 30pt;
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 200px);
}
.portfolio >div{
  background: white;
}

.footer{
  height: 40pt;
  background: #A5BF94;
}