body {
  font-family: 'Montserrat', sans-serif;
  color: #505050;
}
/* styling the logo at the top */
.wrapper{
  width: 50%;
  margin-left: 23%;
  position: relative;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
}
/* styling the nav bar */
nav{
  background: #FFE8E8;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
a{
color: #505050;
display: inline;
}
/* styling for divs */
#about, #portfolio, #save, #contact{
  background: #FFE8E8;
  margin-top: 60px;
  padding: 40px;
}
/* styling for text in about me */
.side{
  margin: 0;
  line-height: 25px;
}

#footer{
  background: #A5BF94;
  margin-top: 60px;
  padding: 40px;
  height: 40px;
}